@media screen and ( max-width: 1024px) {
    header {
        flex-direction: column;
        margin-top: 1rem;
    }
    main {
        flex-direction: column;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 38px;
    }
    form {
        margin: 0 auto;
        width: 100%;
    }

    input{
    align-self: center;
    }

    ul {
        text-align: center;
    }

    .menu-horizontal {
        margin: 0;
        height: 3rem;
        padding-top: 1rem;
    }

    .logo-menu {
        margin-left: 0px;
    }

    #ui-ux {
        flex-wrap: wrap;
    }

    .newslatter {
        width: 100%;
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: none;
        width: 350px;
        height: auto;
        padding: 2rem;
    }



    .rodape-contato { 
        font-size: 16px;
        height:15rem;
    }

    article { 
        padding: 0 !important;
        padding: 2rem !important;
        
    }

    article h2 { 
        font-size: 44px !important;
    }

    body {
        padding:0 !important;
    }

    #home {
        padding: 1rem;
    }

    #orcamento-btn {
        border: 2px solid rebeccapurple;
        padding: 8px;
        border-radius: 10px;
    }

    .img-mobile {
        background-size: 28rem auto;
    }
    .img-mobile:hover {
        background-size: 32rem auto;
    }



}