*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    
   
}

html{
    scroll-behavior: smooth;
}

section {
    height: 100vh ;
    width: 100% ;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#menu {
    position: fixed;
    right: 0;
    width: 100%;
    height: 5rem;

      
  }

  #menu:after {
    background-color:  rgba(102, 51, 153, 0.61);
  }

  

body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: white;
    max-width: 1920 px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Changa', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


main {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.logo-menu {
    flex-direction: column;
    line-height: 30px;
    margin-left: 5rem;
    
}

.menu-horizontal{
    margin-right: 5rem;    
}

.menu-horizontal li {
    display: inline-block;
    margin: 20px;
    
}

#orcamento-btn {
    border: 2px solid rebeccapurple;
    padding: 10px;
    border-radius: 10px;
}

#orcamento-btn:hover{
    background-color: rebeccapurple;
    color: white;
}


a {
    color: white
}
a:hover {
    color: rebeccapurple;
    transition: 0.3s all;
}

#home {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.icon-redes-sociais {
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 50px;
    list-style: none;
    
}

.icon-redes-sociais li {
    padding: 10px;
}

.tex-icon-redes-sociais{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 14px;
    
}

#servicos {
    width: 100%;
    padding: 50px;
    display: block;
    height: 200vh;
}
.mobile{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-mobile {
    width: 30%;
}
.img-mobile {
  background-image: url("imagens/celular-vetor-editado2.png");
  height: 400px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  position: static;
  transition-delay: .3s;
  transition: .3s;
}

.img-mobile:hover {
    height: 410px;
    width: 52%;
    transition: .3s;

    

}

.mobile h1 {
    color: rebeccapurple ;
    font-size: 50px;
    margin-bottom: 1rem;
    
}
.mobile h2 {
    line-height: 3.5rem;
}

.site {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.img-site {

}

.site h1 {
    color: rebeccapurple ;
    font-size: 50px;
    margin-bottom: 1rem;
}

.site h2 {
    line-height: 4rem;
}


input {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


#ui-ux {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.ui {
    width: 50% ;
    padding: 50px;

}
.ux {
    width: 50% ;
    padding: 50px;
}

article h1 {
    
    font-size: 50px;
    justify-content: start;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    color: rebeccapurple;
    margin-bottom: 1rem;

}


article h2 {
    
    font-size: 40px;
    justify-content: start;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    line-height: 3.5rem;
    padding: 0px !important;
}




.rodape-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 10vh !important;
    width: 100%;
    align-items: center;
    text-align: center;
   
}