*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    
   
}



#menu {
    position: relative;
    right: 0;
    width: 100%;
    height: 5rem;
      
  }

  #menu:after {
    background-color:  rgba(102, 51, 153, 0.61);
  }

  

body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: white;
    max-width: 1920 px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Changa', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


main {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.logo-menu {
    flex-direction: column;
    line-height: 30px;
    margin-left: 5rem;
    
}

.menu-horizontal{
    margin-right: 5rem;    
}

.menu-horizontal li {
    display: inline-block;
    margin: 20px;
    
}

#orcamento-btn {
    border: 2px solid rebeccapurple;
    padding: 10px;
    border-radius: 10px;
}

#orcamento-btn:hover{
    background-color: rebeccapurple;
    color: white;
}


a {
    color: white
}
a:hover {
    color: rebeccapurple;
    transition: 0.3s all;
}

#home {
    width: 100%;
    height: 61rem;
    justify-content: center;
    align-items: center;
}

.rodape-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 24rem;
    width: 100%;
    align-items: center;
    text-align: center;
   
}

.imagem-app {
    width: 100%;
    height: 68rem;
    display: flex;

}
article {
    width: 40%;
    height: 80vh;
    padding-left: 4rem;
}



aside {
    display: flex;
    
}



#servicos{
    
}

#servicos-mobile {
    height: 70rem;
    align-items: center;
    display: inline-grid;
    width: 100%;
    transition: 2s;
    transition-delay: 0.3s;
}

#servicos-site {
    height: 60rem;
    
    
}


.img-mobile {
    background: url("imagens/celular-vetor.png");
    background-size: 55rem auto;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    transition: 2s;
    
}

.img-mobile:hover {
    background-size: 64rem auto;
    background-position: initial;

}

.img-mobile-app {
    background: url("imagens/foto-app-celular.png");
    background-size:  auto 35rem;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    transition: 2s;
}



article h1 {
    display: flex;
    font-size: 60px;
    justify-content: start;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 0px !important;
    color: rebeccapurple;

}


article h2 {
    display: flex;
    font-size: 50px;
    justify-content: start;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
    line-height: 3.5rem;
    padding: 0px !important;
}

    


input {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#whatsapp {
    background: url("imagens/whatsapp.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-size: contain;
    
}

#email {
    background: url("imagens/gmail.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-size: contain;
    
}




